@import '../../assets/variables.scss';
.input {
	width: 100%;
	padding: $input-padding;
	margin-bottom: 15px;
	border-bottom: $input-border;
	color: $input-text-color;
	&::placeholder {
		font-size: $font-regular;
		color: $input-placeholder-color;
		opacity: $input-opacity;
	}
}
