@import '../../assets/variables.scss';
.error-text {
	display: flex;
	justify-content: center;
	align-items: center;
	&__text {
		font-weight: $font-regular;
		font-size: $font-big;
		text-align: center;
		color: $text-color;
	}
}
