{{#> Main className='main-chat'}}
	<section class="chat">
		{{> DialogList}}
	</section>
	<section>
		<span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et ipsam quibusdam aspernatur veniam? Laboriosam molestiae consequatur voluptatum. Expedita hic blanditiis laborum cupiditate aspernatur quam, non exercitationem esse eum voluptatibus?</span>
	</section>
{{/ Main}}
