<div class='popup'>
	<div class='popup__content'>
		<nav class='popup__nav'>
			<ul class='popup__list'>
				<li class='popup__item'>
					{{>Link href='#' page='signin' text='Войти'}}
				</li>
				<li>
					{{>Link href='#' page='registration' text='Регистрация'}}
				</li>
				<li>
					{{>Link href='#' page='profile' text='Профиль'}}
				</li>
				<li>
					{{>Link href='#' page='chat' text='Чат'}}
				</li>
				<li>
					{{>Link href='#' page='error' text='Ошибка 500' className='popup__link-errorFiveHundredth'}}
				</li>
				<li>
					{{>Link href='#' page='errorFourth' text='Ошибка 404' className='popup__link-errorFourHundredth'}}
				</li>
			</ul>
		</nav>
	</div>
</div>
