
{{#> Header}}  {{/ Header}}
{{#> Main}}
	<div class="signin">
		{{>Title title='Вход'}}
		<form class="signin__form">
			<div class="signin__container">
				<div class="signin__inputs">
					{{>InputField type='text' title='Логин'  name='login'}}
					{{>InputField type='password' title='Пароль' name='password'}}
				</div>
				{{>Button text='Войти'}}
			</div>
			{{>Link text='Нет аккаунта?' href='#' page='registration'}}
		</form>
	</div>
{{/ Main}}
{{#> Footer}}  {{/ Footer}}

