<div class='input-field'>
	<label for='{{login}}' class='input-field__label'>{{title}}</label>
	{{>Input type=type title=title value=value name=name placeholder=placeholder pattern=pattern className='input-field__input'}}
</div>
